html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

 footer {
    width: 100%;
    background: #ec2ebd;
    height: 100px;

    .copyright-footer p {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2.4em 0em;
      color: #272c66;
    }
  }

.nav-container {
  background: #ec2ebd;

  a {
    color: #272c66;
  }

}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;

  .logo {
    color: #272c66;
    font-weight: bold;
    font-size: 20px;
  }

  ul {
    display: flex;

    a {
      display: block;
      padding: 0 1em;
    }
  }
}

.social-header,
.hero-design {
  display: none;
}

.hero {
  background: #ec2ebd;
  color: #fff;
  display: grid;
  text-align: center;
  padding: 4em;
}

.meet {
  display: flex;
  margin: 0 auto;
  width: 200px;
  font-weight: bold;
  color: #272c66;

  span {
    margin-top: 1em;
    margin-right: 0.5em;
  }
}

section {
  padding: 4em 2em;
  text-align: center;
}

.featured {
  position: relative;
}

.download-resume {
  padding: 1.6em;
  background: #272c66;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.download-resume-btn {
  color: #fff;

}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #692d5a;
  letter-spacing: 0.2em;
  font-size: 0.85em;
}

.featured-title {
  color: #000;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  display: block;
}

.featured-desc {
  color: #3b3b3b;
  margin-bottom: 3em;
  font-size: 0.85em;
  line-height: 1.8em;
  font-weight: 500;
}

.my-work {
  text-align: center;
  padding: 2em;
}

.skills {
  background: #272c66;
}

.skills-header {
  color: #fff;
  margin-top: -10px;
  font-size: 30px;
}

.skills-container ul li {
  background: #fff;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

  .icon-container {
    height: 100px;
    display: grid;
    place-content: center;
    margin: 0 auto;

    &.one {
      width: 50px;
    }
  }
}

.skill-title {
  font-weight: bold;
}

.featured-desc {
  margin-bottom: 2em;
}

.portfolio {
  background: #fff;
}

.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
}

.talk-to-me {
  text-align: center;
}

.talk-to-me-para {
  text-align: center;
}

.contact-btn {
  padding: 1em;
}

.email-me {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

  &:hover {
    background: #ec2ebd;
  }

  a {
    color: #272c66;
    font-weight: 500;

    &:hover {
      color: #fff;
    }
  }


}

@media only screen and (min-width: 800px) {
  .featured,
  .portfolio {
    text-align: left;
  }

  .featured,
  .portfolio-container {
    display: grid;
    grid-template-columns: 40% auto;
  }

  .left,
  .portfolio-left {
    display: grid;
    place-content: center;
  }

  .right {
    margin-left: 2em;
    margin-top: 1em;
  }

  .skills {
    margin-top: 0em;
    margin-bottom: -7em;
    padding-top: 7em;
  }

  .skills-container ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }

  .portfolio {
    padding-top: 7em;
  }

  .portfolio-container img {
    margin-left: 2em;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
}

@media only screen and (min-width: 1024px) {
  .hero {
    height: 90vh;
  }

  .nav-container {
    display: grid;
    grid-template-columns: 66% auto;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

    header {
      background: #fff;
    }
  }

  header {
    padding: 2em 2em 2em 4em;
  }

  .social-header {
    padding: 2em 4em 2em 0;
  }

  section {
    padding: 4em;
  }

  .social-header {
    display: block;

    ul {
      display: flex;
      justify-content: space-between;
      width: 7em;
      float: right;

      img {
        width: 20px;
        transition: transform .2s;
      }

      img:hover {
        transform: scale(2.1);
        border-radius: 20px;
      }
    }
  }

  .hero {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
    padding: 0;

    .content {
      background: #ec2ebd;
      padding: 6em 8em 6em 4em;
      text-align: left;

      h1 {
        font-size: 3em;
        line-height: 1.2em;
        margin: 1em 0em;
      }

      p {
        margin: 1em 0em;
        font-size: 22px;
      }
    }
  }

  .meet {
    margin: unset;
  }

  .hero-design {
    display: unset;
    margin-left: -30%;
    margin-top: 15%;
    width: 100%;
  }

  .portfolio img {
    float: right;
    max-width: 500px;
  }

}

@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 10em;
  }

  .social-header {
    padding: 2em 10em 2em 0;
  }

  section {
    padding: 10em 10em 4em 10em;
  }

  .hero .content {
    padding: 6em 8em 6em 10em;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 20em;
  }
  .social-header {
    padding: 2em 20em 2em 0;
  }

  section {
    padding: 6em 20em 4em 20em;
  }

  .hero .content {
    padding: 9em 20em 6em 20em;
  }
}
